.profile__edit-button {
    margin: 0 0 0 18px;
    max-width: 24px;
    max-height: 24px;
}
.profile__edit-button:hover {
    opacity: 0.6;
}
@media (max-width: 320px) {
.profile__edit-button {
    margin: 0 0 0 10px;
    max-width: 18px;
    max-height: 18px;
}
}