.profile {
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media (max-width: 320px) {
.profile {
    padding-top: 38px;
    flex-direction: column;
    gap: 36px 0;
}
}
