.page__container{
    max-width: 1280px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 200px;
}
@media (max-width: 768px) {
    .page__container{
        max-width: 768px;
        padding: 0 34px;
    }
}
@media (max-width: 320px) {
    .page__container{
        max-width: 320px;
        padding: 0 19px;
    }
}